<h1 style="text-align:center">
	<span style="font-family: 'Allan', cursive;font-size:300%">Cheap
	</span> New York
</h1>

<br>
<form action="/sites/zipsearch" class="form-horizontal container" role="form"  method="POST">
	<div class="form-group col-xl-4">
		<div class="col-sm-8">
			<input type="hidden" class="form-control" name="_method" value="POST">
		    <label class="control-label" for="language">Zipcode search</label>
			<input type="text" class="form-control"  name="zipcode">
			<%= token_tag :authenticity_token %>
			<div>
				<input type="submit" class="btn" value="Submit">
			</div>
		</div>
	</div>
</form>

<br>
<table id="myTable" class="tablesorter table-hover table">
	<thead>
		<tr>
			<th class="col-sm-1">Cost</th>
			<th class="col-sm-2">Name</th>
			<th class="col-sm-2">Address</th>
			<th class="col-sm-1">Zip</th>
			<th class="col-sm-1">Rating</th>
			<th class="col-sm-10">Reviews</th>
		</tr>
	</thead>
	<tbody>
		<% @sites.each do |site|  %>
			<tr>
				<td><%= site.cost %></td>
				<td><%= site.name %></td>
				<td><%= site.address %></td>
				<td><%= site.zipcode %></td>
 				<% if site.respond_to?(:image_url) %>
					<td><img src="<%= site.image_url %>"></td>
				<% else %>
					<% sum = 0 %>
					<% site.reviews.each do |review| %>
						<% sum += review.rating %>
					<% end %>
					<% unless(sum == 0) %>
						<td>
							<% weighted_rating = sum/site.reviews.size %>
							<% (weighted_rating.to_i).times do |x| %>&#9733;<% end %>
							<% if ((weighted_rating - weighted_rating.floor) > 0) %>&frac12;<%end %>



<% if ((weighted_rating.to_f % 1.0) > 0) %>HALF &frac12;<%end %>







						</td>
					<% else %>
						<td>Unrated</td>
					<% end %>
				<% end %>
 				<td>
					<ul style="list-style: none; padding-left:0;">
						<% site.reviews.each_with_index do |review, index| %>
							<% if review.respond_to?(:rating) %>
								<li>
									<% (review.rating.to_i).times do |x| %>&#9733;<% end %>

									<% if ((review.rating - review.rating.floor) > 0) %>
									&frac12;
									<%end %>
									<%= review.written_text %> 
									<%= link_to 'EDIT', edit_site_review_path(site, review), :method => :get %> 
									<%= link_to 'DELETE', site_review_path(site, review), :method => :delete %>
								</li>	
							<% else %>
								<li>
									<img src="<%= review[2] %>"><%= review[1] %>
								</li>
								<hr>
							<% end %>
						<% end %>
					</ul>

					<% if site.is_a?(YelpApi::YelpSite) == true %>

						<a href="<%= site.url %>" target="_YelpWindow">Site on Yelp</a>
					<% else %>
						<a href="<%= new_site_review_path(site) %>">
							<% if site.reviews.size == 0 %>
								Write the first review!
							<% else %>
								Write a Review
							<% end %>
						</a>

					<% end %>

				</td>
			</tr>
		<% end %>
	</tbody>
</table>
