<h1>Cheap New York -- Site Listing for <%= session[:zipcode] %></h1>

<form action="/sites/zipsearch" method="POST">
	<input type="hidden" name="_method" value="POST">
	<input type="text" name="zipcode">
	<%= token_tag :authenticity_token %>
	<input type="submit" value="Zipcode Search">
</form>

<br>
<table id="myTable" class="tablesorter table-hover table">
	<thead>
		<tr>
			<th class="col-sm-1">Cost</th>
			<th class="col-sm-2">Name</th>
			<th class="col-sm-2">Address</th>
			<th class="col-sm-1">Zip</th>
			<th class="col-sm-1">Rating</th>
			<th class="col-sm-10">Reviews</th>
		</tr>
	</thead>
	<tbody>
		<% @sites.each do |site|  %>
			<tr>
				<td><%= site.cost %></td>
				<td><%= site.name %></td>
				<td><%= site.address %></td>
				<td><%= site.zipcode %></td>
 				<% if site.respond_to?(:image_url) %>
					<td><img src="<%= site.image_url %>"></td>
				<% else %>
					<% sum = 0 %>
					<% site.reviews.each do |review| %>
						<% sum += review.rating %>
					<% end %>
					<% unless(sum == 0) %>
						<td><%= sum/site.reviews.size %></td>
					<% else %>
						<td>Unrated</td>
					<% end %>
				<% end %>
 				<td>
					<ul style="list-style: none; padding-left:0;">
						<% site.reviews.each_with_index do |review, index| %>
							<% if review.respond_to?(:rating) %>
								<li>
									<% (review.rating).times do |x| %>&#9733;<% end %>
									<%= review.written_text %> 
									<%= link_to 'EDIT', edit_site_review_path(site, review), :method => :get %> 
									<%= link_to 'DELETE', site_review_path(site, review), :method => :delete %>
								</li>	
							<% else %>
								<li>
									<img src="<%= review[2] %>"><%= review[1] %>
								</li>
								<hr>
							<% end %>
						<% end %>
					</ul>

					<% if site.is_a?(YelpApi::YelpSite) == true %>
<!-- < % binding.pry  % > -->
						<a href="<%= site.url %>" target="_YelpWindow">Site on Yelp</a>
					<% else %>
						<a href="<%= new_site_review_path(site) %>">
							<% if site.reviews.size == 0 %>
								Write the first review!
							<% else %>
								Write a Review
							<% end %>
						</a>

					<% end %>

				</td>
			</tr>
		<% end %>
	</tbody>
</table>
