<h1>Sites</h1>

<form action="<%= new_site_path %>">
	<input type="submit" value="New">
</form>
<br>
<table id="myTable" class="tablesorter table-hover table">
	<thead>
		<tr>
			<th class="col-sm-1">Cost</th>
			<th class="col-sm-2">Name</th>
			<th class="col-sm-2">Address</th>
			<th class="col-sm-1">City</th>
			<th class="col-sm-1">Zip</th>
			<th class="col-sm-1">Rating</th>
		</tr>
	</thead>
	<tbody>
		<% @sites.each do |site|  %>
			<tr class="site_<%=site.id%>">
				<td><%= site.cost %></td>
				<td><%= site.name %></td>
				<td><%= site.address %></td>
				<td><%= site.city %></td>
				<td><%= site.zipcode %></td>
				<td><a href="<%=site_path(site)%>">FIXME</a></td>
			</tr>
		<% end %>
	</tbody>
</table>
