<!DOCTYPE html>
<html>
<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>CheapNewYork</title>
		<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Nyc311 Complaints Morning Exercise" %>">
    

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<script language="javascript" type="text/javascript">
		$(document).ready(function(){$("#myTable").tablesorter();});
	</script>
</head>

<body>
   <header>
      <%= render 'layouts/navigation' %>
    </header>

<!-- This is where Devise alerts a user to their state.  It is here in the 
application.html.erb so that it appears on EVERY page.  The p tags will appear everywhere and be empty UNTIL Devise has something to say, and then that information will be present in these tags -->
<p class=”notice”><%= notice %></p>
<p class=”alert”><%= alert %></p>

<br><br>


    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>

</body>
<footer>
    <span style="color: rgba(0,0,0,0,0); display: block; text-align: center; font-size: 10px; font-weight: lighter;padding: 5px;">Page Design: Scooterlicious, Inc.
</footer>

</html>
